
<div class="picker">
  <ion-img role="button" (click)="onPickLocation()" class="location-image" [src]="selectedLocationImage" *ngIf="selectedLocationImage"></ion-img>
  <ion-button color="primary" (click)="onPickLocation()" *ngIf="!selectedLocationImage"></ion-button>
  <ion-icon name="map" slot="start"></ion-icon>
  <ion-label>Selecciona Ubicacion</ion-label>
</div>