<div class="picker">
  <ion-img role="button" (click)="onPickImage()" class="image" [src]="selectedImage" 
  *ngIf="selectedImage"></ion-img>
  <ion-button color="pimary" (click)="onPickImage()" *ngIf="!selectedImage">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Tomar foto</ion-label>
  </ion-button>
</div>

<input type="file" accept="image/jpeg" *ngIf="usarPicker" #filePicker (change)="onFileSelected($event)">